<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:aliceblue" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Chat Online
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
      <ion-item *ngFor ="let chat of chatRooms" (click)="openChat(chat)" >
        <ion-avatar slot="start">

          <ion-img src="https://picsum.photos/200"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2> <b>{{chat.name}}</b> </h2>
          <h3>{{chat.descripcion}}</h3>
          <p>Accede dando click y escribe un mensaje</p>

        </ion-label>
      </ion-item>

    
   
  </ion-list>

  <!--<ion-button (click)="Onlogout()">Cerrar sesión</ion-button>-->

</ion-content>