<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
          <ion-icon style="color:aliceblue" name="menu"></ion-icon>
        </ion-button>
    <ion-title>
      MENU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   
 
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/burger.png">
    </ion-thumbnail>
    <ion-label>Hamburguesa</ion-label>
    <ion-label>2500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/cake.png">
    </ion-thumbnail>
    <ion-label>Pastel</ion-label>
    <ion-label>5500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/donut.png">
    </ion-thumbnail>
    <ion-label>Dona</ion-label>
    <ion-label>1500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/salad.png">
    </ion-thumbnail>
    <ion-label>Ensalada :c</ion-label>
    <ion-label>10000$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/pint.png">
    </ion-thumbnail>
    <ion-label>Cerveza :D</ion-label>
    <ion-label>3500$</ion-label>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/steak.png">
    </ion-thumbnail>
    <ion-label>Steak</ion-label>
    <ion-label>15000$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/cupcake.png">
    </ion-thumbnail>
    <ion-label>Cupcake</ion-label>
    <ion-label>4500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/coffee.png">
    </ion-thumbnail>
    <ion-label>Cafe</ion-label>
    <ion-label>2500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/breakfast.png">
    </ion-thumbnail>
    <ion-label>Desayuno</ion-label>
    <ion-label>6500$</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
    <img src="assets/icon/birthday-cake.png">
    </ion-thumbnail>
    <ion-label>Cumpleaños</ion-label>
    <ion-label>Depende$</ion-label>
    
  </ion-item>
  
  
</ion-content>
